/*.titleBar {
  background-color: #000;
  display: block;
  color: rgb(24, 207, 131);
  padding-left: 16px;
} */
/* 
.App {
  background-color: rgb(218, 240, 228);
  text-align: justify;
  padding-right: 10px;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
